.add-page,
.modify-page {
    display: none;
}
.sets {
    display: flex;
    justify-content: center;
}
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-page, .modify-page {
    flex-direction: column;
    align-items: center;
}
.add-new-term {
    margin-left: 90%;
}
li {
    list-style: none;
}
.editSpan, .deleteSpan {
    border: 1px solid black;
    margin-right: 5px;
    cursor: pointer;
}
.defSpan {
    margin-left: 10px;
}
.term-list {
    padding: 0px;
}
.add-inputs, .modify-inputs{
    padding-bottom: 10px;
}